.container {
    display:grid;
    grid-template-rows: 180px 250px 140px auto auto;
    grid-template-columns: 80%;
    margin:1em;
    padding-left:1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}

.page-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end:3 ;
    display: grid;
    grid-template-rows: 2.2em 6.2em;
    grid-template-columns: 130px 2fr 1fr;

}

.img-h {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.title-h {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.page-info {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display:grid;
    grid-template-columns: 99.9%;
    margin-bottom: 1em;
}

.info-left-container {
    grid-column-start: 1;
    grid-column-end: 2;
    
    /* border: 1px solid; */

    display: grid;
    grid-template-columns: 1em 49.9%;
}
.info-left-left {
    grid-column-start: 2;
    grid-column-end: 3;
    /* border-left: 1px groove; */
}
.info-left-right {
    grid-column-start: 3;
    grid-column-end: 4;
}

.page-metrics {
    margin-top: -2.5em;
    grid-row-start: 3;
    grid-row-end: 4;   
    display:grid;
    grid-template-columns: 1em 100px;
    grid-template-rows: 18.9% 100px;
    margin-bottom: 1em;
}

.grade-div {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grade-img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.grade-report {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 1em;
    /* margin-top: 0.88em; */
}

.grade-points-img {
    height: 24px;
    width: 24px;
}

.grade-points-span {
    margin-top: 5px;
}

.page-graph {

    grid-row-start: 4;
    grid-row-end: 5;
    display:grid;
    grid-template-columns: 50%;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
    
    margin-right: 1em;
}

.right {
    grid-column-start: 2;
    grid-column-end: 3;
    

}

.thumbnail {
    border-radius: 8px;
}

.back-button-h {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

.back-button {
    font-weight: 700;
}

.social-icon {
    height: 25px;
    width: 25px;
    
}

.button {
    height: 35px;
    padding: 0;
    margin: 0;
    width: 35px;
    border:1px;
    background-color: snow;
    border-radius: .5em;
}

.socials-h {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 2em;
}

.soc-div {
    float: right;
    margin-left: 0.4em;
    margin-bottom: 0.4em;

}

h2 {
    margin:0.18em 0 0.18em 0;

}

.ranks {
    font-size: small;
    color: gray;
    font-weight: 700;
}

.fade-effect1{
    grid-row-start: end;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}
.fade-line{
    
    grid-column-start: 1;
    grid-column-end: 3;

}

.fade-effect-info{

    display:block;
    border:none;
    color:white;
    height:1px;
    background:whitesmoke;
    /* background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff)); */
}


.page-gallery {
    padding-top:1.8em;
    grid-row-start: 5;
    grid-row-end: 6;
    height: 350px;
    width: 100%;
    margin-top: 1em;
    /* overflow: hidden; */
    display:grid;
}

.center-img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* width: 50%;
    width: auto; */
    height: 350px;
    width:623px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  /* top: 40%; */
  width: auto;
  /* padding: 16px; */
  margin-top: 150px;
  color: silver;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    margin-left:612px;
}

.gallery-count {
    position: absolute;
    padding:0.3em;
    color:aliceblue;
}

/* .visible-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    visibility: visible;
    max-width: 1280px;
    overflow: hidden;
} */

/* Animation to have any absolute element go from the right to left center
@keyframes slide-from-left {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
}
  
Element to be moved. Must have position: absolute
.visible-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-name: slide-from-left;
    animation-duration: 2s;
} */
