@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);


.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 110px auto auto 1fr;


}


header {
    height: 100px;
    background-color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

aside {
    
    background-color:rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 3;
    
    margin-bottom: 0;
    
    grid-row-start: 2;
    grid-row-end: 3;
    
    
}

main{
    height: fit-content;
    /* margin-top: -5em; */
    
    
    
    grid-column-start: 2;
    grid-column-end: 3;
    
}

footer{
    margin-top: 2em;
    height: 30vh;
    background-color: whitesmoke;
    
    grid-column-start: 1;
    grid-column-end: 4;
}

.aside-cards {
    display: flex;
    height: 100%;
    gap: 3.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1%;
    padding-right: 1%;
    
    

}

.title {
    display: inline-block;
    width: 50%;
    height: min-content;
    font-family: 'OCR A Extended';
    
    margin-bottom: -5em;
    padding-left: 44%;
    padding-top: 0px;
    
    

    
}

.card1 {
    background-color: rgb(255, 255, 255);
    height: max-content;
    width: 30.6%;
    
    
}
.card2 {
    background-color: rgb(255, 255, 255);
    height: max-content;
    width: 30.6%;
    
}
.card3 {
    background-color: rgb(255, 255, 255);
    height: max-content;
    width: 30.6%;
    
    
    
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

}





