
<div class="global">

  <mat-sidenav-container class="sidenav">

    <div class="left_bar">
        <button mat-flat-button (click)="changeView(true,false)" class="button1"><mat-icon>equalizer</mat-icon> Graphs</button>
        <br>
        <br><br>
        <button mat-flat-button (click)="changeView(false,true)" class="button2"><mat-icon>manage_search</mat-icon> Table</button>
    </div>

  </mat-sidenav-container>

  <div  *ngIf="display_table">
    <app-table></app-table>
  </div>

  <div  *ngIf="display_graph" class="help">
    <app-test-chart></app-test-chart>
  </div>

</div>







