<div class="container-f">
    <div class="content-f">
        <div class="logo">
            <img src="assets/sitelogo_footer.png" alt="logo" class="image">
            <div class="text">
                <b>Because big gets bigger.</b>
            </div>
               
        </div>
        <div class="company">
            <b>Company</b>
            <br> <br>
            <p>Terms Of Use</p>
            <p>Privacy Policy</p>
            <p>Disclaimer</p>
            <p>Methodology</p>
        </div>
        <div class="support">
            <b>Support</b>   
            <br> <br>
            <p>Contact Us</p>
        </div>
        <div class="socials">
            <b>Socials</b>
            <br> <br>   
        </div>
    </div>
</div>
