

th.mat-sort-header-sorted {
    color: green;
}

.tabdiv {
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 800px;

    justify-content: center;
    margin-left:15%;
    float:inline-end;
    

}

.tableclass {

    background-color: rgb(223, 223, 223);
    margin-left: 3.5%;
    margin-top: .6%;
    margin-bottom: 1.6%;
    width:93%;
   

}
.filter {
    display: block;
    margin-left:80%;
}

.testdiv {
    display: block;

}
mat-sidenav-container {
    height: 800px;
    width:15%;

    float:left;

}

mat-sidenav{
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;
}

mat-sidenav-content {
    padding: 0px;
    margin: 0px;

}

.left_bar {
    width: 20%;

    height: 100%;

}

.button2 {

    border: 1px solid;
    margin-left: 30px;
}

.button1 {
    margin-top: 220px;
    margin-left: 30px;
    border: 1px solid;
}